.article__title {
   max-width: 596px;
   color: #2c332f;
   font-family: Oswald;
   font-size: 48px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
   margin-bottom: 40px;
   padding-top: 80px;
}

.article__text {
   color: #535755;
   font-family: Ubuntu;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   margin-bottom: 20px;
}

.article__text-invite {
   margin-top: 40px;
   margin-bottom: 40px;
}

.article__mb {
   margin-bottom: 80px;
}

.article__dekor-wrapper {
   position: relative;
}

.article__dekor-wrapper::before {
   content: "";
   position: absolute;
   z-index: -1;
   background: url(../img/dekor.svg) no-repeat;
   width: 528px;
   height: 48px;

}

.article__dekor-wrapper-1::before {
   top: 100px;
   left: -350px;
}

.article__dekor-wrapper-2::before {
   bottom: 216px;
   right: -350px;
}

.article__img {
   width: 1220px;
   height: 512px;
   width: 100%;
}

.article__group-title {
   margin-top: 0;
   margin-bottom: 40px;
   color: #2c332f;
   font-family: Oswald;
   font-size: 36px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
}

.article__group-text {
   max-width: 744px;
   color: #535755;
   font-family: Ubuntu;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   margin-bottom: 20px;
}

.article__item {
   margin-bottom: 12px;
}

.article__item::marker {
   color: #3596ED;
   font-size: 20px;
}

.article__video-title {
   margin-bottom: 40px;
   color: #2c332f;
   font-family: Oswald;
   font-size: 36px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
}

.article__video {
   margin-bottom: 40px;
   width: 1220px;
   height: 686px;
   width: 100%;
}

.article__play-button {
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   position: absolute;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   padding: 0;
   border: none;
   background: #3596ED;
   cursor: pointer;
}



