.hero {
   position: relative;
   padding-top: 80px;
   margin-bottom: 140px;
}

.hero::after {
   content: "";
   position: absolute;
   bottom: 106px;
   width: 100%;
   height: 48px;
   z-index: -1;
   background: url("../img/dekor-large-icon.svg") repeat-x;
}

.hero__inner {
   display: flex;
   align-items: center;
   gap: 28px;
}

.hero__title {
   font-family: Oswald, sans-serif;
   font-style: SemiBold;
   margin-bottom: 40px;
   font-size: 62px;
   font-weight: 600;
   line-height: 115%;
   letter-spacing: 0%;
   text-align: left;
   text-transform: uppercase;
   color: #2C332F;
}

.hero__title strong {
   color: #3596ED;
}

.hero__text {
   max-width: 440px;
   margin-bottom: 140px;
   color: #535755;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   letter-spacing: 0%;
}

.hero__button {
   display: inline-block;
   padding: 19px 32px;
   font-size: 15px;
   font-weight: 500;
   line-height: 130%;
   letter-spacing: 2%;
   text-align: center;
   text-transform: uppercase;
   color: #fff;
   background-color: #3596ED;
   transition: opacity 0.2s;
}

.hero__button:hover {
   opacity: 0.85;
}

.hero__images {
   position: relative;
   display: flex;
}

.hero__images-text {
   position: absolute;
   padding: 22px;
   width: 161px;
   text-align: center;
   background: rgba(255, 255, 255, 0.9);
   border: 1px solid #535755;
   color: #2c332f;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   letter-spacing: 0%;
   top: 40px;
   left: 50%;
   transform: translateX(-50%);
}

.news__title {
   color: #2c332f;
   font-family: Oswald;
   font-size: 48px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
   margin-bottom: 40px;
}

.news__container {
   display: flex;
   gap: 28px;
}

.news__article {
   display: flex;
   flex-direction: column;
   max-width: 284px;
   border: 1px solid#d3cbd9;
   background-color: #fff;
   overflow: hidden;
}

.news__article img {
   display: block;
}

.news__info {
   padding: 20px 20px 0;
}

.news__time {
   display: inline-block;
   margin-bottom: 8px;
   color: #858e8a;
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 4%;
   text-transform: uppercase;
}

.news__text {
   margin-bottom: 12px;
   color: #2c332f;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
}

.news__button {
   display: inline-flex;
   align-items: center;
   gap: 8px;
   color:#3596ed;
   line-height: 130%;
}

.news__button::after {
   content: "";
   width: 22px;
   height: 9px;
   background-image: url(../img/arrow-icon.svg);
   transition: 0.2s;
}

.news__button:hover::after {
   transform: translateX(5px);
}

.news__article footer {
   padding: 0 20px 20px;
   margin-top: auto;
}