@font-face {
   font-family: Avenir Next Cyr;
   src: local("Avenir Next Cyr Medium"), local("Avenir-Next-Cyr-Medium"),
      url("../../fonts/avenirnextcyr-medium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Avenir Next Cyr;
   src: local("Avenir Next Cyr DemiBold"), local("Avenir-Next-Cyr-DemiBold"),
      url("../../fonts/avenirnextcyr-demi.woff2") format("woff2");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Avenir Next Cyr;
   src: local("Avenir Next Cyr Bold"), local("Avenir-Next-Cyr-Bold"),
      url("../../fonts/avenirnextcyr-bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: Avenir Next Cyr;
   src: local("Avenir Next Cyr"), local("Avenir-Next-Cyr-Heavy"),
      url("../../fonts/avenirnextcyr-heavy.woff2") format("woff2");
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}