/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footer {
   padding: 60px 0 40px;
   background: -webkit-gradient(linear, left top, right top, from(rgba(73, 169, 255, 0.2)), to(rgba(252, 124, 217, 0.2)));
   background: -o-linear-gradient(left, rgba(73, 169, 255, 0.2), rgba(252, 124, 217, 0.2) 100%);
   background: linear-gradient(90.00deg, rgba(73, 169, 255, 0.2), rgba(252, 124, 217, 0.2) 100%);
   text-align: center;
}

.footer__top {
   border-bottom: 1px solid var(--Stroke, rgba(211, 203, 217, 1));
}

.footer__logo {
   display: inline-block;
   margin-bottom: 40px;
}

.footer__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   list-style: none;
   gap: 60px;
   margin: 0;
   padding: 0 0 40px;
}

.footer__list a {
   color: #535755;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   -webkit-transition: color 0.2s;
   -o-transition: color 0.2s;
   transition: color 0.2s;
}

.footer__list a:hover {
   color: #3596ED;
}

.footer__copy {
   margin-top: 40px;
   color: #858e8a;
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 4%;
}

@media (width <=768px) {
   .footer__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 25px;
   }
}

@media (width <=576px) {
   .footer {
      padding-top: 40px;
   }
}