/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
   font-family: 'Ubuntu', sans-serif;
   font-weight: 400;
}

body {
   min-width: 375px;
}

*,
*::before,
*::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

a:focus-visible,
button:focus-visible,
summary:focus-visible {
   outline: 2px solid #3596ed;
   outline-offset: 1px;
}

img {
   max-width: 100%;
   height: auto;
   -o-object-fit: cover;
   object-fit: cover;
}

summary {
   list-style: none;
}

summary::-webkit-details-marker {
   display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

.container {
   max-width: 1250px;
   padding: 0 15px;
   margin: 0 auto;
}

@media (width <=992px) {
   .container {
      max-width: 768px;
   }
}

@media (width <=768px) {
   .container {
      max-width: 576px;
   }
}