/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 10px;
   padding-top: 30px;
   padding-bottom: 30px;
   border-bottom: 1px solid #d3cbd9;
}

.header__logo {
   width: 84px;
   height: 45px;
}

.header__contact {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: end;
}

.header__contact-text {
   color: #858e8a;
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 4%;
   text-transform: uppercase;
   margin-bottom: 8px;
}

.header__contact-tel {
   color: #2c332f;
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
   -webkit-transition: color 0.2s ease;
   -o-transition: color 0.2s ease;
   transition: color 0.2s ease;
}

.header__contact-tel:hover {
   color: #3596ED;
}