.hero {
   position: relative;
   padding-top: 80px;
   margin-bottom: 140px;
}

.hero::after {
   content: "";
   position: absolute;
   bottom: 106px;
   width: 100%;
   height: 48px;
   z-index: -1;
   background: url("../img/dekor-large-icon.svg") repeat-x;
}

.hero__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 28px;
}

.hero__content {
   max-width: 492px;
}

.hero__title {
   font-family: Oswald, sans-serif;
   font-style: SemiBold;
   margin-bottom: 40px;
   font-size: 62px;
   font-weight: 600;
   line-height: 115%;
   letter-spacing: 0%;
   text-transform: uppercase;
   color: #2C332F;
}

.hero__title strong {
   color: #3596ED;
}

.hero__text {
   max-width: 440px;
   margin-bottom: 140px;
   color: #535755;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   letter-spacing: 0%;
}

.hero__button {
   display: inline-block;
   padding: 19px 32px;
   font-size: 15px;
   font-weight: 500;
   line-height: 130%;
   letter-spacing: 2%;
   text-align: center;
   text-transform: uppercase;
   color: #fff;
   background-color: #3596ED;
   -webkit-transition: opacity 0.2s;
   -o-transition: opacity 0.2s;
   transition: opacity 0.2s;
}

.hero__button:hover {
   opacity: 0.85;
}

.hero__images {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

.hero__images-text {
   position: absolute;
   padding: 22px;
   max-width: 161px;
   text-align: center;
   background: rgba(255, 255, 255, 0.9);
   border: 1px solid #535755;
   color: #2c332f;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   letter-spacing: 0%;
   top: 40px;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

.news {
   margin-bottom: 140px;
}

.news__title {
   color: #2c332f;
   font-family: Oswald;
   font-size: 48px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
   margin-bottom: 40px;
}

.news__container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 28px;
}

.news__article {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-flex: 1;
   -ms-flex: 1 1 25%;
   flex: 1 1 25%;
   max-width: 284px;
   border: 1px solid#d3cbd9;
   background-color: #fff;
   overflow: hidden;
}

.news__article img {
   display: block;
}

.news__info {
   padding: 20px 20px 0;
}

.news__time {
   display: inline-block;
   margin-bottom: 8px;
   color: #858e8a;
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 4%;
   text-transform: uppercase;
}

.news__text {
   margin-bottom: 12px;
   color: #2c332f;
   line-height: 130%;
}

.news__button {
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 8px;
   color: #3596ed;
   line-height: 130%;
}

.news__button::after {
   content: "";
   width: 22px;
   height: 9px;
   background-image: url(../img/arrow-icon.svg);
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}

.news__button:hover::after {
   -webkit-transform: translateX(5px);
   -ms-transform: translateX(5px);
   transform: translateX(5px);
}

.news__article footer {
   padding: 0 20px 20px;
   margin-top: auto;
}

.faq {
   position: relative;
   margin-bottom: 140px;
}

.faq::before {
   content: "";
   position: absolute;
   top: 215px;
   width: 40%;
   height: 48px;
   z-index: -1;
   background: url("../img/dekor-large-icon.svg") repeat-x;
}

.faq__title {
   color: #2c332f;
   font-family: Oswald;
   font-size: 48px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
   margin-bottom: 40px;
}

.faq__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   gap: 28px;
}

details {
   margin-bottom: 20px;
   border-block: 1px solid #D3CBD9;
}

details:last-child {
   margin-bottom: 0;
}

details[open] .faq__summary::after {
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   transform: rotate(180deg);
}

.faq__summary {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   padding: 20px;
   gap: 10px;
   color: #2c332f;
   font-family: Oswald;
   font-size: 24px;
   font-weight: 500;
   line-height: 115%;
   text-transform: uppercase;
   cursor: pointer;
}

.faq__summary::after {
   content: "";
   display: inline-block;
   -ms-flex-negative: 0;
   flex-shrink: 0;
   width: 17px;
   height: 22px;
   background: url(../img/arrow-down-icon.svg) no-repeat center / cover;
}

.faq__text {
   padding: 0 20px 20px;
   color: #2c332f;
   line-height: 130%;
}

@media (width <=1440px) {
   .hero__images img {
      width: 50%;
   }
}

@media (width <=992px) {
   .hero::after {
      display: none;
   }

   .hero__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .hero__title {
      font-size: 52px;
      margin-bottom: 30px;
   }

   .hero__content {
      text-align: center;
   }

   .hero__text {
      max-width: inherit;
      margin-bottom: 30px;
   }

   .news__title {
      max-width: inherit;
      text-align: center;
      font-size: 42px;
   }

   .news__container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      gap: 20px;
   }

   .news__article {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 350px;
   }

   .news__article img {
      width: 100%;
   }

   .faq {
      margin-bottom: 100px;
   }

   .faq__title {
      max-width: inherit;
      text-align: center;
      font-size: 42px;
   }

   .faq::before {
      display: none;
   }

   .faq__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
}

@media (width <=768px) {
   .hero__title {
      font-size: 50px;
   }

   .news__title {
      margin-bottom: 30px;
      font-size: 40px;
   }

   .news__article {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 400px;
   }

   .faq__title {
      margin-bottom: 30px;
      font-size: 40px;
   }

   .faq__summary {
      font-size: 22px;
   }
}

@media (width <=576px) {
   .hero {
      padding-top: 60px;
      margin-bottom: 80px;
   }

   .hero__content {
      max-width: 410px;
   }

   .hero__title {
      font-size: 42px;
   }

   .hero__images-text {
      padding: 10px;
      font-size: 14px;
      max-width: 125px;
   }

   .news__title {
      font-size: 36px;
      margin-bottom: 30px;
   }

   .faq__title {
      font-size: 36px;
   }

   .faq__summary {
      font-size: 18px;
   }
}