.main-div {
   border: 1px solid #000;
   border-top-left-radius: 25px;
   border-bottom-left-radius: 25px;
   overflow: auto;
}

.child-div {
   margin: 5px;
   margin-top: 15px;
   padding: 8px;
   padding-left: 33px;
   border: 1px solid #000;
   border-radius: 35px;
   width: 350px;
   height: 300px;
   background: #c7aa80;
   display: inline-block;
   font-size: 25px;
   box-shadow: inset 0 0 15px rgba(0,0,0,0.4);
}