.footer {
   padding: 60px 0 40px;
   background: linear-gradient(90.00deg, rgba(73, 169, 255, 0.2), rgba(252, 124, 217, 0.2) 100%);
   text-align: center;
}

.footer__top {
   border-bottom: 1px solid var(--Stroke, rgba(211, 203, 217, 1));
}

.footer__logo {
   display: inline-block;
   margin-bottom: 40px;
}

.footer__list {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   gap: 60px;
   padding-bottom: 40px;
}

.footer__list a {
   color: #535755;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   transition: color 0.2s;
}

.footer__list a:hover {
   color: #3596ED;
}

.footer__copy {
   margin-top: 40px;
   color: #858e8a;
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 4%;
}