body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.block-wrapper,
.title {
    margin-bottom: 100px;
}

.title {
    text-align: center;
}

.block-wrapper {
    display: flex;
    justify-content: center;
}

.block {
    background: linear-gradient(210deg, #34bb34, rgb(34, 128, 0));
    height: 300px;
    width: 300px;
    border-radius: 1rem;
}

.text {
    font-size: 2rem;
}

/* ====================================================== */

/* .title::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #fc5151;
    border: 4px solid #fff;
    position: absolute;
    transform: translate(176%, -7%);
} */

.title::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: #4955f8;
    border: 4px solid #fff;
    transform: translate(0.5em);
}

.title::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    background: #ff7070;
    border: 4px solid #fff;
    border-radius: 100%;
    transform: translate(-1.5em);
}
