.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   padding-top: 30px;
   padding-bottom: 30px;
   border-bottom: 1px solid #d3cbd9;
}

.header__logo {
   width: 84px;
   height: 45px;
}

.header__contact {
   display: flex;
   flex-direction: column;
   align-items: end;
}

.header__contact-text {
   color: #858e8a;
   font-size: 14px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 4%;
   text-transform: uppercase;
   margin-bottom: 8px;
}

.header__contact-tel {
   color: #2c332f;
   font-size: 18px;
   font-weight: 400;
   line-height: 21px;
   transition: color 0.2s ease;
}

.header__contact-tel:hover {
   color: #3596ED;
}