* {
   color: #4A4A4A;
   font-family: "Montserrat", sans-serif
}

.container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
   height: 100%;
}

.hero {
   margin: 60px 0;
}

.hero__title, .group-training__title, .new-branch__title {
   text-transform: uppercase;
}

.hero__link {
   color: rgb(40, 162, 199);
   text-decoration: none;
}

.hero__img {
   width: 100%;
   height: 55vh;
   margin-top: 50px;
}

.group-training__text {
   max-width: 820px;
}
.group-training__item {
   line-height: 30px;
   color: black;
}
.new-branch__video {
   width: 100%;
   height: 55vh;
   object-fit: cover;
}