:root {
    --white-text: #F8FCFF;
    --accent-text: #1D6FB6;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: calc(20px / 16px);
    color: #25282B;
    background: var(--white-text);
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ================================================ */

.header {
    line-height: 1.5;
}

.header__inner {
    min-height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
}

.header__logo {
    max-width: 54px;
}

.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.header__socials {
    justify-content: flex-end;
}

.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

/* ========================================================================= */

.hero {
    padding: 120px 0;
    line-height: 1.5;
    color: #D0DCE7;
    position: relative;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero__list {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 18px;
    transition: all .5s;
}

.hero__list-item:last-child {
    margin-bottom: 0;
}

.hero__list-item:hover {
    color: #1D6FB6;
}

.hero__list-item path {
    transition: all .5s;
}

.hero__list-item:hover path {
    fill: #1D6FB6;
}

.hero__video {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hero__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background: #102e49cc;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    max-width: 288px;
    width: 100%;
    padding: 18px 30px 18px 30px;
    background: #D0DCE7;
    color: #1D6FB6;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    transition: all .5s;
}

.button:hover {
    background: #83ADD3;
    color: #F8FCFF;
}

/* =============================================================== */

.main__general {
    padding: 120px 0;
    font-weight: 500;
    line-height: 20px;
}

.main__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.main__sidebar {
    position: sticky;
    top: 5vh;
}

.main__body {
    max-width: 792px;
    width: 100%;
}

.sidebar {
    border: 2px solid var(--серый, rgba(208, 220, 231, 1));
    max-width: 282px;
    width: 100%;
    padding: 30px;
    min-height: 60vh;
}

.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child {
    margin-bottom: 0;
}

/* ================================================= */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    grid-auto-flow: dense;
}

.main__gallery {
    margin-bottom: 120px;
}

.gallery__img {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery__img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.gallery__img--large-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--large-right {
    grid-column: 3/5;
    grid-row: span 2;
}

.gallery__img--large-left .gallery__hint,
.gallery__img--large-right .gallery__hint {
    height: 103px;
    font-size: 24px;
    line-height: 29px;
}

.gallery__hint {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background: #1D6FB6B3;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8FCFF;
    transform: translateY(100%);
    transition: all .5s;
    opacity: 0;
}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;
}

/* ===================================================== */

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.products__item-img {
    position: relative;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.products__item-badge {
    position: absolute;
    top: 12.8%;
    padding: 18px 15px;
    border-radius: 0px 100px 100px 0px;
    background: var(--Фон, rgba(248, 252, 255, 1));
    color: #1D6FB6;
    font-weight: 500;
    min-width: 33.9%;
    line-height: 20px;
    text-align: center;
    animation: badge-action 3s infinite alternate;
}

@keyframes badge-action {
    0% {
        min-width: 33.9%;
    }
    66.666% {
        min-width: 33.9%;
    }
    100% {
        min-width: 38%;
    }
}

.products__item-body {
    border: 1px solid var(--серый, rgba(208, 220, 231, 1));
    border-top: none;
    padding: 30px 15px;
}

.products__item-button {
    margin: 0 auto;
}

/* =============================================== */

.footer {
    background: #788088;
    padding: 30px 0;
    line-height: 20px;
    color: #F8FCFF;
}

.footer__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}