body * {
   box-sizing: border-box;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 400;
}

.container {
   max-width: 1250px;
   padding: 0 15px;
   margin: 0 auto;
}

.article {}

.article__title {
   max-width: 596px;
   color: #2c332f;
   font-family: Oswald;
   font-size: 48px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
   margin-bottom: 40px;
}

.article__text {
   color: #535755;
   font-family: Ubuntu;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   margin-bottom: 20px;
}

.article__mb {
   margin-bottom: 80px;
}

.article__img {
   width: 1220px;
   height: 512px;
   width: 100%;
}

.article__group-title {
   margin-top: 0;
   margin-bottom: 40px;
   color: #2c332f;
   font-family: Oswald;
   font-size: 36px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
}

.article__group-text {
   max-width: 744px;
   color: #535755;
   font-family: Ubuntu;
   font-size: 16px;
   font-weight: 400;
   line-height: 130%;
   margin-bottom: 20px;
}

.article__item {
   margin-bottom: 12px;
}

.article__video-title {
   margin-bottom: 40px;
   color: #2c332f;
   font-family: Oswald;
   font-size: 36px;
   font-weight: 600;
   line-height: 115%;
   text-transform: uppercase;
}

.article__video {
   margin-bottom: 40px;
   width: 1220px;
   height: 686px;
   width: 100%;
}

